<div *ngIf="code" class="ui-g code" highlight-js-content=".highlight">
  <pre>
    <code class="typescript highlight">
{{code}}
    </code>
  </pre>
</div>

<div class="ui-g titles">
  <div class="ui-g-12">{{column1Title}}</div>
</div>
<div class="ui-g content">
  <div #column1Content [innerHTML]="column1" class="ui-g-12" [scrollTop]="column1Content.scrollHeight"></div>
</div>
<div class="ui-g">
  <button *ngIf="button1Text" (click)="button1Action()" class="ui-g-12">{{button1Text}}</button>
  <button *ngIf="button2Text" (click)="button2Action()" class="ui-g-12">{{button2Text}}</button>
</div>
